@import "diosevka";
@import "gruvbox";

pre, img, code {
	border-radius: 4px;
}

html {
	margin: 0;
	padding: 0;
}

body {
	max-width: 80ch; /* This is actually really nice */
	margin: auto;
	padding: 8px;
}

h1::before {
	content: "# ";
}

h2::before {
	content: "## ";
}

h3::before {
	content: "### ";
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
}

li::marker {
	font-weight: bold;
}

img {
	display: block;
	max-height: calc(512px / 3);
	margin: auto;
}

code {
	padding: 0 6px;
}
