

html, body {
	color: #3c3836;
	background-color: #fbf1c7;
}

a {
	color: #b16286;
	&:visited {
		color: #8f3f71;
	}
}

h1, h1::before, li::marker {
	color: #d79921;
}

h2::before {
	color: #98971a;
}

h3::before {
	color: #458588;
}

th, td {
	border-color: #d5c4a1;
}

th {
	background-color: #d5c4a1;
	color: #d79921;
}

@media (prefers-color-scheme: dark) {
	html, body {
		color: #ebdbb2;
		background-color: #282828;
	}

	code {
		background-color: #3c3836;
	}

	blockquote::before {
		content: "> ";
	}

	a:visited {
		color: #d3869b;
	}

	th, td {
		border-color: #3c3836;
	}
		
	th {
		background-color: #3c3836;
	}
}
