/* ======== FONT ======== */
$diosevka-font-path: "file://@diosevka@/share/fonts/diosevka/ttf";

@font-face {
	src: url(#{$diosevka-font-path}/diosevka-regular.ttf) format("truetype");
	font-family: "Diosevka";
}

@font-face {
	src: url(#{$diosevka-font-path}/diosevka-bold.ttf) format("truetype");
	font-family: "Diosevka";
	font-weight: bold;
}

@font-face {
	src: url(#{$diosevka-font-path}/diosevka-italic.ttf) format("truetype");
	font-family: "Diosevka";
	font-style: italic;
}

@font-face {
	src: url(#{$diosevka-font-path}/diosevka-bolditalic.ttf) format("truetype");
	font-family: "Diosevka";
	font-weight: bold;
	font-style: italic;
}

* {
	font-family: "Diosevka";
}

/* ======== LAYOUT ======== */
html {
	margin: 0;
	padding: 0;
}

body {
	margin: 1em auto;
	font-size: 0.75rem; // Weasyprint likes big fonts, but I don't
}

h2, h3, h4, h5, h6 {
	margin-top: 2em;
}

ul {
	list-style-type: "- ";
}

li {
	padding: 2px 4px;
}

img {
	display: block;
	max-height: calc(512px / 3);
	margin: auto;
}

code {
	padding: 0 6px;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid #777777;
	padding: 2px 4px;
}
