/* ======== COLORS ======== */

:root {
  --seaFoam: #C7CCD1; // custom lighter foreground
  --fujiWhite: #DCD7BA; // default foreground
  --oldWhite: #C8C093; // dark foreground, e.g. statuslines
  --sumiInk0: #16161D; // dark background, e.g. statuslines, floating windows
  --sumiInk1: #1F1F28; // default background
  --sumiInk2: #2A2A37; // lighter background, e.g. colorcolumns, folds
  --sumiInk3: #363646; // lighter background, e.g. cursorline
  --sumiInk4: #54546D; // darker foreground, e.g. linenumbers, fold column
  --waveBlue1: #223249; // popup background, visual selection background
  --waveBlue2: #2D4F67; // popup selection background, search background
  --winterGreen: #2B3328; // diff add background
  --winterYellow: #49443C; // diff change background
  --winterRed: #43242B; // diff deleted background
  --winterBlue: #252535; // diff line background
  --autumnGreen: #76946A; // git add
  --autumnRed: #C34043; // git delete
  --autumnYellow: #DCA561; // git change
  --samuraiRed: #E82424; // diagnostic error
  --roninYellow: #FF9E3B; // diagnostic warning
  --waveAqua1: #6A9589; // diagnostic info
  --dragonBlue: #658594; // diagnostic hint
  --fujiGray: #727169; // comments
  --springViolet1: #938AA9; // light foreground
  --oniViolet: #957FB8; // statements and keywords
  --crystalBlue: #7E9CD8; // functions and titles
  --springViolet2: #9CABCA; // brackets and punctuation
  --springBlue: #7FB4CA; // specials and builtins
  --lightBlue: #A3D4D5; // not used!
  --waveAqua2: #7AA89F; // types
  --springGreen: #98BB6C; // strings
  --boatYellow1: #938056; // not used
  --boatYellow2: #C0A36E; // operators, regex
  --carpYellow: #E6C384; // identifiers
  --sakuraPink: #D27E99; // numbers
  --waveRed: #E46876; // standout specials 1, e.g. builtin variables
  --peachRed: #FF5D62; // standout specials 2, e.g. exception handling, returns
  --surimiOrange: #FFA066; // constants, imports, booleans
  --katanaGray: #717C7C; // deprecated
}

// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--bg0: #1f1f28;
// 		--bg1: #727169;
// 		--bg2: #504945;
// 		--bg3: #665c54;
// 		--bg4: #7c6f64;

// 		--fg0: #fbf1c7;
// 		--fg1: #ebdbb2;
// 		--fg2: #d5c4a1;
// 		--fg3: #bdae93;
// 		--fg4: #a89984;

// 		--gray0: #a89984;

// 		--red1: #fb4934;
// 		--green1: #b8bb26;
// 		--yellow1: #fabd2f;
// 		--blue1: #83a598;
// 		--purple1: #d3869b;
// 		--aqua1: #8ec07c;
// 		--orange1: #fe8019;
// 	}
// }

/* ======== FONT ======== */

$diosevka-font-path: "/assets/fonts";

@font-face {
  src: url(#{$diosevka-font-path}/Diosevka-Regular.woff2) format("woff2");
  font-family: "Diosevka";
}

@font-face {
  src: url(#{$diosevka-font-path}/Diosevka-Bold.woff2) format("woff2");
  font-family: "Diosevka";
  font-weight: bold;
}

@font-face {
  src: url(#{$diosevka-font-path}/Diosevka-Italic.woff2) format("woff2");
  font-family: "Diosevka";
  font-style: italic;
}

@font-face {
  src: url(#{$diosevka-font-path}/Diosevka-BoldItalic.woff2) format("woff2");
  font-family: "Diosevka";
  font-weight: bold;
  font-style: italic;
}

* {
  font-family: "Diosevka";
  line-height: 1.5em;
}

/* ======== CODE HIGHLIGHTING ======== */

code {
  a::before {
    color: var(--sumiInk4);
  }

  .attribute {
    color: var(--waveRed);
  }

  .type {
    color: var(--waveAqua2);
  }

  .constructor {
    color: var(--springBlue);
  }

  .constant {
    color: var(--surimiOrange);
  }

  .constant.numeric {
    color: var(--sakuraPink);
  }

  .constant.character.escape {
    color: var(--springBlue);
  }

  .string {
    color: var(--springGreen);
  }

  .string.regexp {
    color: var(--boatYellow2);
  }

  .string.special.url {
    color: var(--springBlue);
  }

  .string.special.symbol {
    color: var(--oniViolet);
  }

  .comment {
    color: var(--fujiGray);
  }

  .variable {
    color: var(--fujiWhite);
  }

  .variable.builtin {
    color: var(--waveRed);
  }

  .variable.parameter {
    color: var(--carpYellow);
  }

  .variable.other.member {
    color: var(--carpYellow);
  }

  .label {
    color: var(--springBlue);
  }

  .punctuation {
    color: var(--springViolet2);
  }

  .keyword {
    color: var(--oniViolet);
  }

  .keyword.control.return {
    color: var(--peachRed);
  }

  .keyword.control.exception {
    color: var(--peachRed);
  }

  .keyword.directive {
    color: var(--peachRed);
  }

  .operator {
    color: var(--boatYellow2);
  }

  .function {
    color: var(--crystalBlue);
  }

  .function.builtin {
    color: var(--springBlue);
  }

  .function.macro {
    color: var(--waveRed);
  }

  .tag {
    color: var(--waveAqua2);
  }

  .namespace {
    color: var(--surimiOrange);
  }

  .special {
    color: var(--peachRed);
  }
}

/* ======== HTML ======= */

html,
body {
  color: var(--fujiWhite);
  background-color: var(--sumiInk1);
}

html {
  margin: 0;
  padding: 1em;
}

body {
  max-width: 80ch;
  margin: 0 auto;
}

header {
  background-color: var(--sumiInk2);
  border-radius: 4px;
  font-weight: bold;

  details {
    overflow: auto;

    summary {
      list-style: none;
      padding: 1em;

      #breadcrumbs {
        color: var(--surimiOrange);
      }

      #TOC-label {
        float: right;
        cursor: pointer;
        color: var(--sumiInk4);

        &:hover {
          color: var(--oniViolet)
        }
      }
    }

    &[open] summary {
      border-bottom: 2px dashed var(--sumiInk3);
    }
  }

}

footer {
  color: var(--sumiInk4);
  margin-top: 4em;
}

a {
  color: var(--crystalBlue);

  &:visited {
    color: var(--oniViolet);
  }
}

h1,
h1::before {
  color: var(--oniViolet);
}

li::marker {
  color: var(--waveRed);
}

h2::before {
  color: var(--roninYellow);
}

h3::before {
  color: var(--waveAqua2);
}

blockquote>p {
  color: var(--fujiGray);
}

blockquote>p::before {
  color: var(--oniViolet);
}

img {
  border-radius: 4px;
}

h2::before,
h3::before {
  content: "| ";
}

blockquote {
  p {
    &::before {
      content: "> ";
    }

    font-style: italic;
  }
}

ul {
  list-style-type: "- ";

  li::marker {
    font-weight: bold;
  }
}

dl {
  margin: 2em;

  dt {
    font-weight: bold;
    color: var(--oniViolet);
  }

  dd {
    margin-top: 0.5em;

    &::before {
      content: "def. ";
      font-style: italic;
      color: var(--fujiGray);
    }
  }
}

hr {
  border: none;
  border-top: 2px dashed var(--sumiInk3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

img {
  display: block;
  margin: auto;
}

code {
  padding: 0 0.5ch;
}

code,
pre {
  background-color: var(--sumiInk2);
  border-radius: 4px;
}

pre {
  margin: 1em;
  padding: 1ch;
  overflow-y: scroll;

  &.numberSource code {
    counter-reset: source-line;

    a {
      counter-increment: source-line;
      color: var(--gray1);
      text-decoration: none;
      width: 4ch;
      text-align: right;
      display: inline-block;
      padding-left: auto;
      margin-left: auto;
      margin-right: 2ch;

      &:hover {
        text-decoration: underline;
      }

      &:visited {
        color: var(--gray1);
      }

      &::before {
        content: counter(source-line);
      }
    }
  }

  code {
    display: block;
    padding: 0;
  }
}

table {
  border-collapse: collapse;
  margin: 2em auto;

  th,
  td {
    border-width: 2px;
    border-style: solid;
    padding: 2px 8px;
    border-color: var(--bg1);
  }

  th {
    background-color: var(--bg1);
    color: var(--yellow0);
  }
}

iframe[src^="https://www.youtube.com/embed/"] {
  display: block;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  width: 90%;
  aspect-ratio: 16/9;
}